    footer {
        position: fixed;
        bottom:0;
        left:0;
        width: 100%;
    }

    html {
        scroll-padding-top: 3.5rem;
    }

    section {
        padding-top: 30px;
        padding-bottom: 150px;
    }

    h1.title-1 {
        font-size: 45pt;
        color: #4489F1;
        font-weight: bolder;
    }

    h3.title-3 {
        font-size: 40pt;
        color: #777;
        font-weight: bolder;
        margin-bottom: -10px;
    }

    #test-one {
        float: left;
        width: 90%;
        height: 100vh;
    }

    #sia {
        float: right;
        background: #4489F1;
        width: 10%;
        height: 100vh;
    }

    #quest-number {
        font-weight: bolder;
        font-size: 80pt;
        color: #FFF;
        text-align: center;
        margin: auto;
        margin-top: 140%;
    }

    form {
        margin-top: 80px;
        margin-bottom: 100px;
        width: 360px;
    }

    input.btn-number {
        padding: 5px 20px;
        margin-top: 15px;
        margin-right: 15px;
        border: 2px solid #4489F1;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 17pt;
        color: #777;
    }

    input.btn-number:hover {
        color: #FFF;
        background: #4489F1;
        padding: 7px 20px;
    }
    
    .btn-selected {
        color: #FFF;
        background: #4489F1;
        padding: 7px 10px;
    }

    /* .teste {
        background: #4489F1;
        height: 100%;
        width: 100%;
        position: absolute;
        width: 336px;
        background: #4489F1;
        float: right;
    } */

